// Colores
$primary-color: #fff;
$text-color: #000;
$header-background-color: #000000;
$primary-background-color: #ffffff;
$marvel-red: #ec1d24;

//Fuente
$primary-font: 'Roboto Condensed', sans-serif;

// Tamaños de fuente
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-size-large: 24px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

//  Tamaños de espaciado
$spacing-none: 0;
$spacing-large: 32px;
$spacing-medium: 16px;
$spacing-small: 8px;
$spacing-xsmall: 4px;
$spacing-xxsmall: 2px;
$spacing-xxxsmall: 1px;
